name: Basic Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: npm install -g firebase-tools
    - run: |
        VERSION="v$(date +'%Y.%m.%d.%H%M%S')"
        git tag -a "$VERSION" -m "Release $VERSION"
        git push https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }}.git "$VERSION"
      env:
        GH_PAT: ${{ secrets.GH_PAT }}
    - run: firebase deploy --only hosting --token "${{ secrets.FIREBASE_TOKEN }}"
